[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anonimization_script = {editable = true, path = "."}
pydash = "==5.1.0"
pytest = "==7.1.2"
pipenv-setup = "*"
click = "==7.1.2"
flask = "*"
pyaml = "*"
pony = "*"
pymysql = "*"
faker = "*"
pandas = "*"
sqlalchemy = "*"
asgiref = "*"
pymongo = "*"
regex = "*"
progressbar2 = "*"
redis = "*"
sphinx-rtd-theme = "*"

[dev-packages]
pipenv-setup = "==3.2.0"
icecream = "==2.1.2"
pylint = "==2.13.9"
pydocstyle = "==6.1.1"
pycodestyle = "==2.8.0"
pre-commit = "==2.19.0"
black = "==22.3.0"
chardet = ">=3.0.0,<=5.0.0"
sphinx = ">=2.0"
sphinx-material = "==0.0.35"
sphinx-rtd-theme = "==1.0.0"
coverage = "*"

[requires]
python_version = "3.9"
